<IfModule mod_rewrite.c>
    #FOLDER TIDAK BISA DIAKSES SECARA LANGSUNG
    Options All -Indexes

    #FOLLOW SYMBOLIC LINKS
    Options +FollowSymLinks

    #SET DEFAULT HANDLER
    DirectoryIndex index.php index.html index.htm

    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>